.about__container {
    border: 1px solid white;
    width: 60rem;
    padding: 2rem 2rem 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    position: absolute;
    float: left;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.about__content {
    font-size: .8rem;
    text-align: left;
}

.close__about {
    position: relative;
    left: -22rem;
    top: -1rem;
}

/*===================================MEDIA QUERIES==============================================*/
/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1200px){
    .about__container {
        width: 40rem;
    }

    .close__about {
        left: -12rem;
        top: -1rem;
    }
}
/*Big smartphones [426px -> 600px]*/
@media only screen and (max-width: 600px){
    .about__container {
        width: 23rem;
        top: 18rem;
    }

    .close__about {
        left: -4rem;
        top: -1rem;
    }
    
}
/*Small smartphones [325px -> 425px]*/
@media only screen and (max-width: 425px){
    .about__container {
        width: 34rem;
        top: 4rem;
        left: -7.2rem;
        transform: scale(.9);
        
    }

    .close__about {
        left: -9rem;
        top: -1rem;
    }
}